<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="linqh.test.demo1.test.mapper.AlarmInfoCfgMapper">
    <select id="listByXML" resultType="linqh.test.demo1.test.model.AlarmInfoCfg">
        SELECT *
          FROM alarm_info_cfg
    </select>
</mapper>